<article class="container">
    <div class="d-md-inline-flex mt-5 containerImg">
        <figure class="figure">
            <img src="../../../assets/Error.gif"  class="figure-img imagenError img-fluid rounded" alt="Se ha producido un error">
          </figure>
    </div>
    <div class="m-5 d-inline-block">
        <h1 class="text-danger">Ooops!! Se ha producido un error.</h1>
        <p class="text-center p-4 fs-4">Consulte con su administrador para más información.</p>
    </div>
</article>