<nav class="navbar navbar-expand-lg " style="background-color:#923c59;" >
    <div class="container-fluid">
      <a class="navbar-brand" >Administrador de usuarios</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " routerLinkActive="'active'" [routerLink]="['/home']" >Listado de usuarios</a>
          <a class="nav-link" routerLinkActive="'active'" [routerLink]="['/newUser']" >Nuevo usuario</a>
        </div>
      </div>
    </div>
  </nav>