<section class="container mt-3">
  <div class="row g-4 m-lg-3">
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
    <article class="col-12 col-md-6 col-lg-4">
      <div class="card shadow p-4" style="width: 18rem">
        <img
          src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online"
          style="border-radius: 45%; width: 60%"
          class="card-img-top m-3 align-self-center"
          alt="..."
        />
        <div class="card-body align-self-center">
          <h5 class="card-title">Emilio Alva Duran</h5>
        </div>
      </div>
    </article>
  </div>
</section>
