<section class="container mb-5">
  <div class="card formulario">
    <div class="containerImg">
      <img
        [src]="this.urlImagenDefecto"
        class="cardImg"
        alt="Imagen de usuario"
      />
    </div>
    <div class="d-flex containerInfo flex-column">
      <div class="m-lg-4">
        <h2>{{ textoFormularo }}</h2>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="getDataForm()" class="p-4 col">
        <div class="mb-2">
          <label for="first_name" class="form-label mb-2">Nombre</label>
          <input
            type="text"
            placeholder="Introduce tu nombre"
            class="form-control mb-2"
            formControlName="first_name"
            id="first_name"
          />
          <p class="text-danger" *ngIf="checkControl('first_name', 'required')">
            Campo es requerido
          </p>
          <p
            class="text-danger"
            *ngIf="checkControl('first_name', 'minlength')"
          >
            La longitud minima es de 3 caracteres
          </p>
        </div>
        <div class="mb-2">
          <label for="last_name" class="mb-2">Apellido</label>
          <input
            type="text"
            placeholder="Introduce tu apellido"
            class="form-control mb-2"
            formControlName="last_name"
            id="last_name"
          />
          <p class="text-danger" *ngIf="checkControl('last_name', 'required')">
            Campo es requerido
          </p>
        </div>
        <div class="mb-2">
          <label for="email" class="mb-2">Email</label>
          <input
            type="text"
            placeholder="Introduce tu email"
            class="form-control mb-2"
            formControlName="email"
            id="email"
          />
          <p class="text-danger" *ngIf="checkControl('email', 'required')">
            Campo es requerido
          </p>
          <p class="text-danger" *ngIf="checkControl('email', 'pattern')">
            El email tiene formato incorrecto
          </p>
        </div>
        <div class="mb-2">
          <label for="image" class="mb-2">Url de la imagen</label>
          <input
            type="text"
            placeholder="Introduce la url de tu imagen"
            class="form-control mb-2"
            formControlName="image"
            id="image"
            (blur)="CambiarUrlImagen()"
          />
          <p class="text-danger" *ngIf="checkControl('image', 'pattern')">
            La url de la imagen tiene formato incorrecto
          </p>
        </div>

        <button
          type="submit"
          value="Enviar"
          class="btn btn-danger mt-4"
          [disabled]="!userForm.valid"
        >
          {{ textoBoton }}
        </button>
      </form>
    </div>
  </div>
</section>
